body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.bookView {
  border: 2px solid black;
  border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.adminPanel {
  background-color: tan;
  height: 100%;
  padding: 10px;
}

.bookStock {
  margin-left: 20px;
}

.orderView {
    border-bottom: 2px solid black;
    margin: 5px;
    padding: 5px;
}
.goToAdmin {
    float: right;
}

.formLoggiIn {
    width: 30%;
}